/* Eléments DOM */
body
{
    text-align: center;
}

form
{
    display: inline-block;
    line-height: 1cm;
}


.disappear
{
    opacity: 0;
    animation-name: invisib;
    animation-duration: 3s;
    
}

/* Classes */
.alignTxt
{
    text-align: center;
}
.bandeau
{
    background-color: lightcoral;
    display: inline-block;
    position: absolute;
        left: 50%;
}

.profil
{
    background-color: lightblue;
}

.skipLineWithBSn
{
    white-space: pre-line;
}

.toLeft
{
    float: left;
}

.toRight
{
    float: right;
}

.userList
{
    background-color: lightgreen;
}

/* Animations */
@keyframes invisib
{
    0% {opacity: 0;}
    33% {opacity: 1}
    66% {opacity: 1}
    100% {opacity: 0}
}