#profileCard
{
    /* background-color: dodgerblue; */
}

#bottomProfileCard
{
    padding-bottom: 5%;    
}

#modalNewQuizz
{
    color: black;
    background-color: lightgrey;
}

#modalMedals
{
    color: black;
    background-color: lightgrey;
}

#modalDefis
{
    color: black;
    background-color: lightgrey;
}

#modalUsers
{
    color: black;
    background-color: lightgrey;
}

#modalTopTen
{
    color: black;
    background-color: lightgrey;
}
.quizzActWindow
{
    color:black;
    padding: 0;
}

.defaultText
{
    color:black;
    font-size: 12pt;
}

.connectedOnlyInput
{
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding-top: 10px;
}

#chrono
{
    background-color: #ee6e73;
}

#contenu
{
    height:100%;
}

#contenuDroite
{
    height:100%;
    background-color: #00897b;
}

#contenuGauche
{
    height:100%;
    background-color: #616161;
}

#navbarLeftList
{
    padding-left: 10px;
}

#bandeau
{
    display: inline-block;
    position: absolute;
        bottom:0;
        right:0;
}

/* Eléments DOM */
body
{
    text-align: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
}

form
{
    display: inline-block;
    line-height: 1cm;
}

img
{
    max-width:100%;
    max-height:100%;
}

/* Classes */
.alignTxt
{
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
}

.bandeau
{
    background-color:dodgerblue;
    display: inline-block;
    position: absolute;
        bottom:0;
        right:0;
    border-style: solid;
    border-color:lightgray;
    border-width: 1px;
    border-top-left-radius: 10%;
}

#bodyApp
{
    background-color: lightblue;
}

.bodyLogin
{
    background-color: lightblue;
}

.bLBlue
{
    background-color:lightblue;
}

.bLGreen
{
    background-color:lightgreen;
}

.bLOrange
{
    background-color: lightsalmon;
}

.bFGreen
{
    background-color: chartreuse;
}

.bFPink
{
    background-color: fuchsia;
}

.circle
{
    background-color: lawngreen;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.chronoBox
{
    background-color: yellow;
    font-size: 30px;
    height: 10%;
    width: 15%;
}

#containerLogin
{
    background-color: whitesmoke;
    border-style: solid;
    border-color: lightgray;
    border-radius: 5%;
    border-width: 1px;
    padding: 15%;
    margin-top: 150%;
    width:100%;
}

.disappear
{
    animation-duration: 7s;
    animation-name: invisib;
    opacity: 0;    
    visibility: hidden;
}

#grandContainerLogin
{
    display:table;
    height:100%; 
    margin: 0 auto;
}

.inputModifImg
{
    bottom: 22px;
    position: relative;
}

.linkInteract
{
    cursor: pointer;
}

.linkInteract:hover
{
    color: rgb(204, 182, 255);
}

#mainBandeau
{
    background-color: dodgerblue;
}

.noBorder
{
    border: none;
}

.profil
{
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding-top: 10px;
    padding-left: 50px;
}

.indow
{
    position: absolute;
        top: 30%;
}

.Window
{
    background-color: purple;
    margin: auto;
    position: absolute;
        top: 20%;
}

.skipLineWithBSn
{
    white-space: pre-line;
}

.toCenter
{
    margin: auto;
}

.toLeft
{
    float: left;
}

.toRight
{
    float: right;
}

.underlined
{
    text-decoration: underline;
}

.userList
{
    background-color: lightgreen;
}

#userProfilePic
{
    width:200px;
    height:200px;
}

.xAlign
{
    display: inline;
}

/* Animations */
@keyframes invisib
{
    0% {opacity: 0; visibility: initial}
    33% {opacity: 1}
    66% {opacity: 1}
    100% {opacity: 0}
}