<!-- Navigateur -->

<html>
    <base href="/" />
    <head>
        <link rel='stylesheet' type='text/CSS' href='/styleIndex.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
        <script src="/services/authService.js"></script>
        <script src="/services/localStorageService.js"></script>
        <script src="/services/sessionService.js"></script>
        <script src="/services/userService.js"></script>
        <script src="/controllers/loginController.js"></script>
        <script src="/controllers/userController.js"></script>
        <script src="/controllers/quizzController.js"></script>
        <script src="/app.js"></script>
    </head>
    <body ng-app="app">
        <div ng-controller="loginController" class="skipLineWithBSn">
            <div id="bandeau" class="disappear bandeau">
                {{bandeau()}}
            </div>
            <button ng-click="logOut()" class="toRight">Déconnexion</button>
        </div>

        <div ng-controller="userController" class="toLeft profil">
            <table class="alignTxt">
                <tr>
                    <td><img width="50%" ng-src="{{user.avatar}}"></img></td>
                </tr>
                <tr>
                    <td>{{user.identifiant}}</td>
                </tr>
                <tr>
                    <td>{{user.prenom}}</td>
                </tr>
                <tr>
                    <td>{{user.nom}}</td>
                </tr>
                <tr>
                    <td>{{user.statut}}</td>
                </tr>
            </table>
        </div>

        <div ng-controller="userController" class="toRight userList">
            <p>Utilisateurs connectés</p>
            <div ng-repeat="user in userList">
                    <a ng-click="getUserProfile(5)">{{user.identifiant}}</a>
            </div>
        </div>

        <div ng-controller="quizzController"></div>
    </body>
</html>