<!-- Navigateur -->

<html>
    <base href="/" />
    <head>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel='stylesheet' type='text/CSS' href='/styleIndex.css'>
    </head>

    <body ng-app="app" class="bodyLogin">
        <div class="pure-g" id="grandContainerLogin">
            <div id="containerLogin" class="pure-u-1-1" ng-controller="loginController">
                <!-- <form name="form" role="form" ng-submit="formLogin()">
                    <label for="login">Login</label>
                    <input type="text" ng-model="login">
                    <label for="password">Password</label>
                    <input type="password" ng-model="password">
                    <button type="submit" ng-disabled="form.$invalid">Authenticate</button>
                </form> -->

                <form class="pure-form" name="form" ng-submit="formLogin()">
                    <fieldset class="pure-group">
                        <label for="login">Login</label>
                        <input class="pure-input-rounded" ng-model="login" placeholder="Login" required type="text">
                        <label for="password">Password</label>
                        <input class="pure-input-rounded" ng-model="password" placeholder="Password" required type="password">
                    </fieldset>
                
                    <button class="pure-button pure-input-1 pure-button-primary" type="submit">Sign in</button>
                </form>
            </div>
        </div>

        <!-- Scripts à charger (chargement plus rapide si positionnement en bas de page) -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="/services/authService.js"></script>
        <script src="/services/defiService.js"></script>
        <script src="/services/histoService.js"></script>
        <script src="/services/localStorageService.js"></script>
        <script src="/services/quizzService.js"></script>
        <script src="/services/sessionService.js"></script>
        <script src="/services/socketService.js"></script>
        <script src="/services/userService.js"></script>
        <script src="/controllers/defiController.js"></script>
        <script src="/controllers/histoController.js"></script>
        <script src="/controllers/loginController.js"></script>
        <script src="/controllers/quizzController.js"></script>
        <script src="/controllers/socketController.js"></script>
        <script src="/controllers/userController.js"></script>
        <script src="/app.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </body>
</html>