<!-- Navigateur -->

<html>
    <base href="/" />
    <head>
        <link rel='stylesheet' type='text/CSS' href='/styleIndex.css'>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="/services/authService.js"></script>
        <script src="/services/histoService.js"></script>
        <script src="/services/localStorageService.js"></script>
        <script src="/services/quizzService.js"></script>
        <script src="/services/sessionService.js"></script>
        <script src="/services/socketService.js"></script>
        <script src="/services/userService.js"></script>
        <script src="/controllers/histoController.js"></script>
        <script src="/controllers/loginController.js"></script>
        <script src="/controllers/quizzController.js"></script>
        <script src="/controllers/socketController.js"></script>
        <script src="/controllers/userController.js"></script>
        <script src="/app.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body ng-app="app">
        <div ng-controller="loginController">
            <form name="form" role="form" ng-submit="formLogin()">
                <label for="login">Login</label>
                <input type="text" ng-model="login">
                <label for="password">Password</label>
                <input type="password" ng-model="password">
                <button type="submit" ng-disabled="form.$invalid">Authenticate</button>
            </form>
            <div>
        </div>
    </body>
</html>